<div class="card mb-3">
  <h2 class="card-header h4">
    Role #<%= role.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Movie</dt>
      <!-- Display movie_id start -->
      <dd><%= role.movie_id %></dd>
      <!-- Display movie_id end -->

      <dt>Character</dt>
      <!-- Display character start -->
      <dd><%= role.character %></dd>
      <!-- Display character end -->

      <dt>Actor</dt>
      <!-- Display actor_id start -->
      <dd><%= role.actor_id %></dd>
      <!-- Display actor_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back role, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link role start -->
      <div class="col">
        <%= link_to edit_role_url(role), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link role end -->

      <!-- Delete link role start -->
      <div class="col">
        <%= link_to role, method: :delete, data: { confirm: "Do you really want to delete this role?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link role end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(role.updated_at) %> ago
  </div>
</div>
